{% load static %}
<html>

<head>
    <title>Mauro's blog</title>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap-theme.min.css">
    <link rel="stylesheet" href="{% static 'css/blog.css' %}">
</head>

<body>
    {% if user.is_authenticated %}
    <header class="pageHeader"><a href="/">Django Girls </a><a href="{% url 'post_new' %}" class="top-menu"><span class="glyphicon glyphicon-plus"></span></a></header>
    {% endif %}
    
    <main>
        {% block content %}
        {% endblock %}
    </main>
</body>

</html>